body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

.main-image {
  width: 300px;
  height: 300px;
}

.paragraph {
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
}

button {
  display: block;
  padding: 10px 15px;
  font-size: 10px;
  color: black;
  background: rgb(245, 245, 220);
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
