body {
  background-color: rgb(245, 245, 220);
}

h1,
h2 {
  font-family: "Merriweather", serif;
}

.main-image {
  margin-left: 10px;
  width: 270px;
  height: 270px;
}

p {
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

.designed-by {
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.2);
}

button {
  display: block;
  padding: 10px 15px;
  font-size: 10px;
  color: black;
  background: rgb(245, 245, 220);
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
