body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 246, 236) 39.5%,
    rgba(100, 46, 122, 0.23) 100.2%
  );
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  margin-top: 80px;
  text-align: center;
  line-height: 1.8;
}

.main-image {
  border: 2px solid #000000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.logo-image {
  border: 2px solid #000000;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.main-image {
  width: 400px;
  height: 400px;
  margin-top: 20px;
}

.design {
  text-align: center;
  color: rgb(168, 164, 164);
}
p {
  font-family: "Cormorant Garamond", serif;
}

button {
  display: block;
  padding: 10px 15px;
  font-size: 10px;
  color: black;
  background: rgb(245, 245, 220);
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

button:hover {
  background: white;
  cursor: pointer;
  transition: 150ms;
  transform: scaleX(1.2);
}

button a {
  color: black;
}
